body {
  background: url(../retina_wood.png);
  position: relative;
}

table, .panel {
  background: rgba(255,255,255,0.85);
}

.doc {
  clear: both;
  padding-bottom: 5px;
  border-bottom: 1px #ddd solid;
  font-size: 1.2em;
}

.doc-field {
  display: block;
}

.doc-title {
  font-style: italic;
}

.form-control-half {
  width: 50%;
}

.panel-title {
  font-size: 1.5em;
}

.small-width {
  width: 5%;
}

.pad-left10 {
  padding-left: 10px;
}

.pathfinder-image {
  width: 150px;
  max-width: 150px;
  float: right;
}

.pathfinder-image-detail {
  width: 150px;
  max-width: 150px;
  margin: 0 auto;  
}

#sidebar-nav .nav > li > a {
  padding: 5px;
}
